body {
  margin: 0;
  background-image: url('/public/Background.jpg');
}

img {
  display: flex;
  object-fit: contain;
  width: 200px;
  height: auto;
}

.card {
  border: 5px solid lightgrey;
  border-radius: 20px;
  width: 30vw;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.card > h2,
.card > h3 {
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  height: ;
}

.stats > div,
.stats > img {
  padding: 5px;
  height: 250px;
}

.stats > div {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  background: white;
}

.flex-row {
  display: flex;
}
